/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 1em;
  color: #e2e2e2;
}
.page-item.active .page-link {
  background-color: #e2e2e2;
  border-radius: 0.3em;
  color: #273837;
  padding: 0.3em 0.5em;
}
.page-item {
  list-style-type: none;
  color: #e2e2e2;
}
.page-item a {
  text-decoration: none;
  color: #e2e2e2;
}
.page-link {
  background-color: #273837;
  border-radius: 0.3em;
  padding: 0.3em 0.5em;
}
.control {
  background-color: #b3bdc82a;
  border-radius: 0.3em;
  padding: 0.3em 0.5em;
  border: 1px solid #e2e2e2;
  color: #e2e2e2;
}
.control:hover {
  background-color: #e2e2e22a;
  color: #b3bdc8;
  border: 1px solid #e2e2e2;
}
.page-link:hover {
  color: #b3bdc8;
}
